@page
@model Florea_Iulia_ProiectFinal.Pages.Cameras.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Camera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Camera.Brand" class="control-label"></label>
                <input asp-for="Camera.Brand" class="form-control" />
                <span asp-validation-for="Camera.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camera.Model" class="control-label"></label>
                <input asp-for="Camera.Model" class="form-control" />
                <span asp-validation-for="Camera.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camera.Price" class="control-label"></label>
                <input asp-for="Camera.Price" class="form-control" />
                <span asp-validation-for="Camera.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camera.ReleaseDate" class="control-label"></label>
                <input asp-for="Camera.ReleaseDate" class="form-control" />
                <span asp-validation-for="Camera.ReleaseDate" class="textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Camera.StoreID" class="control-label">Store</label>
                <select asp-for="Camera.StoreID" class="form-control" asp-items="ViewBag.StoreID">
                </select>
                <span asp-validation-for="Camera.StoreID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                foreach (var cat in Model.AssignedCategoryDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedCategories"
                                               value="@cat.CategoryID"
                                               @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : "")) />
                                        @cat.CategoryID @: @cat.Name
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
